body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:16px;
}
.fif {
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */

}
.site-navigation-item{
	text-align:center;
	display: inline-block;
	margin: 65px;
 }
 .site-navigation a:visited {
    color: gray;
 }
.visually-hidden{
    width: 300px;
    display: block;
    margin:0 auto;
}
.promo{
    width: 300px;
    display: block;
    margin:0 auto;
}
.promo-list{
    list-style-type: none;
    display: inline;
    width: 100%;
}

.reviews-list{
	margin-left:300px;
	    display:flex;
		gap: 40px;	
		width:55px
}
.reviews{
		text-align:center;
}
.headline {
    position: relative;
    width: 100%;
}
.headline h2 {
    position: absolute;
    top : 300px;
    left: 720px;
    width: 100%;
}
.headline p {
    position: absolute;
    top : 600px;
    left: 720px;
    width: 100%;
    color: white;
}